<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="testbed_walls" params="prefix">

    <!-- collision geometry macros -->
    <xacro:include filename="$(find rpi_arm_composites_manufacturing_testbed)/urdf/testbed_walls_geometry.xacro" />
    
    <!-- link list -->
    <link name="${prefix}testbed_walls">
      <xacro:testbed_walls_geometry />

      <visual name="visual">
        <geometry>
          <mesh filename="package://rpi_arm_composites_manufacturing_testbed/meshes/testbed_walls/testbed_walls.stl"/>
        </geometry>
        <material name="walls_grey">
          <color rgba="0.6 0.6 0.6 1"/>
        </material>        
      </visual>
    </link>
   

     
    
  </xacro:macro>
</robot>
